@font-face {
    font-family: "Heebo_global";
    src: url("../../fonts/Heebo/Heebo-Regular.ttf");
}

@font-face {
    font-family: "Amiri";
    src: url("../../fonts//Amiri/Italic.ttf");
}

@font-face {
    font-family: "Khand";
    src: url("../../fonts//Khand/medium.ttf");
}

@font-face {
    font-family: "SecularOne";
    src: url("../../fonts/SecularOne/SecularOne-Regular.ttf")
}
