.collection {
  padding-top: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  @media (max-width: 1215px) {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

.collectionA {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  @media (max-width: 1215px) {
    width: 100%;
  }
}

.collectionB {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  @media (max-width: 1215px) {
    width: 100%;
  }
}

.collection-title {
  text-align: center;
}

.back {
  display: none;
  @media (max-width: 450px) {
    display: initial;
    font-family: Khand;
    outline: none;
    background: none;
    border: none;
    text-align: right;
    display: block;
    font-size: 1.3rem;
    border: 1px solid black;
    width: 100px;
    margin-left: auto;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
  }
}

.between {
  display: none;
  @media (max-width: 450px) {
    display: initial;
    background-color: black;
    img {
      margin-bottom: -10px;
      width: 100%;
    }
  }
}
