.evening-section {
  @media (max-width: 1400px) {
    padding-top: 0px;
  }
}

.evening-section-header {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 5rem;
  line-height: 4.7rem;
  padding-top: 30px;
  padding-bottom: 80px;
  @media (max-width: 1400px) {
    padding-bottom: 10px;
  }
  @media (max-width: 450px) {
    font-size: 1.7rem;
    text-align: center;
  }
}

.evening-section-container {
  padding: 20px 10px 20px 10px;
  margin-left: auto;
  margin-right: auto;
  background: black;
  width: 100%;
  padding: 60px;
  padding-top: 95px;
  @media (max-width: 1400px) {
    flex-direction: column;
    padding: 10px;
  }
  @media (max-width: 450px) {
    padding: 0;
  }
}

.evening-text-section {
  width: 60%;
  @media (max-width: 1400px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
.evening-img-section {
  position: relative;
  width: 400px !important;
  @media (max-width: 1400px) {
    margin-left: auto;
    margin-right: auto;
    width: initial;
    padding-bottom: 50px;
    width: 400px !important;
  }
  @media (max-width: 450px) {
    width: 100%;
  }
  img {
    @media (max-width: 450px) {
      width: 100%;
    }
  }
}

.evening-section-container > div > img {
  left: 39px;
  position: absolute;
  top: -70px;
  @media (max-width: 1400px) {
    position: initial;
    margin-left: auto;
    margin-right: auto;
  }
}

.evening-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.7rem;
  max-width: 585px;
  line-height: 1;
  @media (max-width: 450px) {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
  }
}

.evening-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Khand;
  color: white;
  outline: none;
  background: none;
  width: 400px;
  border: none;
  display: block;
  font-size: 1.9rem;
  margin-top: 40px;
}

.special img {
  width: initial !important;
  width: 100vw !important;
}

.special2 {
  width: 100% !important;
}
