.header {
    background:black;
    height: 65px;
    position: fixed;
    z-index: 999;
    width: 100%;
    transition: ease all 0.9s;
    font-size: 1.47rem;
    padding-left: 30px;
    padding-right: 30px;
}

.hide-for-res {
    @media (max-width: 1000px) {
        display: none;
    }
}

.main-logo {
    width: 150px;
    height: 60px;
    margin-top: 14px;
}

.hidden-bg {
    transition: ease all 0.9s;
    transform: translate(0%, 0%);
    background: none;
}
