.selection-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 0;
  position: relative;
  @media (max-width: 1300px) {
    background: e8e6e3;
  }
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 0px 0px 0px 0px;
  }
  @media (max-width: 500px) {
    display: block !important;
    padding: 0px 0px 0px 0px;
  }
}

.Z1 img {
  width: 446px;
  @media (max-width: 450px) {
    width: initial !important;
    width: 100% !important;
  }
}

.Z1 {
  @media (max-width: 450px) {
    display: block;
  }
}

.selection-item {
  width: 100%;
  height: 660px;
  background: e8e6e3;
  @media (max-width: 1500px) {
    margin-left: auto;
    margin-right: auto;
    padding-right: initial;
  }
}

.selection-item-pic img {
  display: none;
  position: absolute;
  right: 21%;
  top: 38px;
  width: 386px;

  @media (max-width: 2000px) {
    right: 21%;
    top: 38px;
    width: 386px;
  }
  @media (max-width: 1500px) {
    position: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
  }
}

.selection-item-pic {
  background: white;
  @media (max-width: 1500px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    right: initial;
  }
  @media (max-width: 1300px) {
    background: e8e6e3;
    padding-bottom: 24px;
  }
}

.selection-card {
  text-align: center;
  height: 595px;
  width: 100%;
  background: black;
  @media (max-width: 900px) {
    height: 500px;
  }
}

.selection-btns {
  padding: 10px 60px 10px 60px;
  & button {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    margin-bottom: 14px;
    border-radius: 6px;
    background: none;
    color: white;
    border: 1.3px solid white;
    font-size: 1.5rem;
    width: 280px;
    transition: all ease 0.3s;
  }
  :hover {
    button {
      opacity: 0.4;
    }
  }
}

.selection-socials {
  margin-top: 30px;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.selection-social {
  margin-left: auto;
  margin-right: auto;
}

.selection-header {
  margin-top: 119px;
  margin-bottom: 42px;
  color: white;
  font-size: 2rem;
  @media (max-width: 450px) {
    font-size: initial !important;
    margin-top: 60px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////

$black: #fff;
$white: #eaeaea;
$gray: #fff;

$text-arrow-space: 16px;
$shaft-width: 1px;
$newshaft-width: 64px;
$shaft-thickness: 1px;
$arrow-head-width: 8px;
$arrow-head-thickness: $shaft-thickness;

// Base

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background: #ffffff;
  height: 100%;
  font-family: "Helvetica Neue LT W01_41488878";
  font-size: 16px;
  line-height: 26px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ul {
  li {
    margin: 0 0 24px;
  }
}

// The Arrow

.the-arrow {
  width: $shaft-width;
  transition: all 0.2s;

  &.-left {
    position: absolute;
    top: 50%;
    left: 50%;

    > .shaft {
      width: 0;
      background-color: $black;

      &:before,
      &:after {
        width: 0;
        background-color: $black;
      }

      &:before {
        transform: rotate(0);
      }

      &:after {
        transform: rotate(0);
      }
    }
  }

  &.-right {
    > .shaft {
      width: $shaft-width;
      transition-delay: 0.2s;

      &:before,
      &:after {
        width: $arrow-head-width;
        transition-delay: 0.3s;
        transition: all 0.5s;
      }

      &:before {
        transform: rotate(-40deg);
      }

      &:after {
        transform: rotate(40deg);
      }
    }
  }

  > .shaft {
    background-color: $black;
    display: block;
    height: $shaft-thickness;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;

    &:before,
    &:after {
      background-color: $black;
      content: "";
      display: block;
      height: $arrow-head-thickness;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.2s;
      transition-delay: 0;
    }

    &:before {
      transform-origin: top left;
    }

    &:after {
      transform-origin: bottom left;
    }
  }
}

// Animated Arrow Button

.animated-arrow {
  display: inline-block;
  color: $black;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;

  &:hover {
    color: $gray;

    > .the-arrow.-left {
      > .shaft {
        width: $newshaft-width;
        transition-delay: 0.1s;
        background-color: $gray;
        &:before,
        &:after {
          width: $arrow-head-width;
          transition-delay: 0.1s;
          background-color: $gray;
        }

        &:before {
          transform: rotate(-40deg);
        }

        &:after {
          transform: rotate(40deg);
        }
      }
    }

    > .main {
      transform: translateX($shaft-width + $text-arrow-space);
      transform: translateX(-$newshaft-width - $text-arrow-space -15px);

      > .the-arrow.-right {
        > .shaft {
          width: 0;
          transform: translateX(0);
          transition-delay: 0;

          &:before,
          &:after {
            width: 0;
            transition-delay: 0;
            transition: all 0.1s;
          }

          &:before {
            transform: rotate(200%);
          }

          &:after {
            transform: rotate(0);
          }
        }
      }
    }
  }

  > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;

    > .text {
      margin: 0 $text-arrow-space 0 0;
      line-height: 1;
      font-size: 27px;
      color: #fff;
    }

    > .the-arrow {
      position: relative;
    }
  }
}
